@model IEnumerable<WebApplicationJsondata.Models.JsondataModels>

@{
    ViewBag.Title = "JsonData";
}

<h2>JsonData</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ApplicationId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Summary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsCleared)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClearedDate)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ApplicationId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Summary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsCleared)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClearedDate)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>

    

